/* all app scss styles here */


// Main header
.top-bar {
	margin-bottom: 30px;
}

#draw-wrapper {
  display: none;
}

#draw-result-wrap {
  display: none;
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #eee;
  text-align: center;
}

#draw-result {
  margin-top: 170px;
  font-size: 120px;
  font-weight: bold;
}

.draw-result-part {
  display: none;
  padding-right: 20px;
}