/* all app scss styles here */


// Main header

#draw-wrapper {
  display: none;
}

#draw-result-wrap {
  display: none;
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #eee;
  text-align: center;
  
  #draw-result {
    margin-top: 170px;
    font-size: 200px;
    font-weight: bold;

    .draw-result-part {
      display: none;
      padding-right: 40px;
    }
  }

  #tekno-logo {
    position: fixed;
    bottom: 30px;
    left: 0;
    width: 100%;
    text-align: center;
  }  
}

a.delete {
  color: red;
  font-size: 12px;
}

.add-tickets {
  input {
    margin-bottom: 5px;
  }
}

.colorful-tickets {
  li {
    margin-bottom: 5px;

    a {
      color: #fff;
      background: #eee;
      padding: 10px 15px;
      display: block;
      @include single-transition(all, .2s, ease);
      i {
        float: right;
        opacity: 0;
        margin-top: 5px;
        @include single-transition(all, .2s, ease);
      }
      &:hover {
        background: red !important;
        i {
          opacity: 1;
        }
      }
    }
  }
  
}

