/* all app scss styles here */

[role="main"] {
  height: 100%;
}
.mast-head {
  display: table;
  width: 100%;
  height: 100%;
  h1 {
    color: #ccc;
    font-size: 120px;
    text-align: center;
    font-weight: 100;
    display: table-cell;
    vertical-align: middle;
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s;
    -o-animation: fadein 2s;
  }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

// Auth
.auth {
  margin-top: 150px;
}

// Main header
.top-bar {
  margin-bottom: 20px;
}

#draw-wrapper {
  display: none;
}

#draw-result-wrap {
  display: none;
  z-index: 999;
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  height: 95%;
  background: #eee;
  text-align: center;
  
  #draw-result {
    font-size: 200px;
    font-weight: bold;

    .draw-result-part {
      display: none;
      padding-right: 40px;
    }
  }
}

.tabs {
  border-bottom: solid 1px #86CDFC;
  dd {
    margin-right: 5px;
  }
}

a.delete {
  color: red;
  font-size: 12px;
}


.colorful-tickets {
  li {
    margin-bottom: 5px;

    a {
      color: #fff;
      background: #eee;
      padding: 10px 15px;
      display: block;
      @include single-transition(all, .2s, ease);
      i {
        float: right;
        opacity: 0;
        margin-top: 5px;
        @include single-transition(all, .2s, ease);
      }

      &.white-ticket {
        border: 1px solid #ccc;
        color: #333;
      }
    }
  }

  &.is-manageable a:hover {
    background: red !important;
    i {
      opacity: 1;
    }
  }
}

