{% extends 'layout.html' %}

{% block content %}
  
  <div class="row">
    <div class="small-12 columns">
      <h1>{{ lottery.name }}</h1>
      <div>{{ lottery.created_at.toDateString() }}</div>
      <hr>

      <dl class="tabs" data-tab>
        <dd class="active"><a href="#panel-tickets">Tickets</a></dd>
        <dd><a href="#panel-drawings">Drawings</a></dd>
      </dl>
      <div class="tabs-content">
        <div class="content active" id="panel-tickets">
          <form id="add-sold-ticket" method="post" action="/admin/lottery/{{ lottery.id }}/sell">
            <div class="row">
              <div class="small-4 columns">
                <label>Color</label>
                <select name="color">
                  <option value="blå">Blå</option>
                  <option value="gul">Gul</option>
                  <option value="grønn">Grønn</option>
                  <option value="rosa">Rosa</option>
                </select>
              </div>

              <div class="small-2 columns">
                <label>Letter
                  <input type="text" name="letter" placeholder="Letter" />
                </label>
              </div>

              <div class="small-2 columns">
                <label>Number or range
                  <input type="text" name="number" placeholder="Number(s)" />
                  <small>e.g. 1, 1-100</small>
                </label>
              </div>

              <div class="small-2 columns">
                <input class="button small" type="submit" value="Add ticket(s)">
              </div>
            </div>
          </form>

          <h3>Sold tickets</h3>
          <ul id="sold-tickets-list">
          {% for ticket in lottery.tickets_sold %}
            <li>{{ ticket.description }}</li>
          {% endfor %}
          </ul>
        </div>

        <div class="content" id="panel-drawings">
          <button class="button large expand" id="trigger-draw" data-url="/admin/lottery/{{ lottery.id }}/draw">DRAW</button>
          <h3>Winners</h3>
          <ul id="draw-results">
          {% for drawing in lottery.drawings %}
            <li>{{ drawing.winning_ticket }}</li>
          {% endfor %}
          </ul>
        </div>
        
      </div>

      <hr>
      <ul class="actions no-bullet">
        <li><a href="/admin/lottery/{{ lottery.id }}/status/?s=closed">Close lottery</a></li>  
        <li><a href="/admin/lottery/{{ lottery.id }}/remove">Delete lottery</a></li>
      </ul>
    </div>
  </div>
  
  <div id="draw-result-wrap">
    <div id="draw-result"><img src="/images/loader.gif" /><div></div></div>
    <div id="tekno-logo"><img src="/images/teknograd-logo.png" /></div>
  </div>
  
  <!-- <a href="/admin/lottery/{{ lottery.id }}/status/?s=draw">End ticket sales</a><br />
  <a href="/admin/lottery/{{ lottery.id }}/status/?s=open">Re-open lottery</a><br /> -->

{% endblock %}