{% extends 'layout.html' %}

{% block content %}

  <div class="row">
    <div class="small-12 medium-6 columns">
      <h2>Lotteries</h2>
      <ul class="no-bullet">
        {% for lottery in lotteries %}
          <li><strong><a href="/admin/lottery/{{ lottery.id }}">{{ lottery.name }}</a></strong> <span class="secondary label">{{ lottery.created_at.toDateString() }}</span></li>
        {% endfor %}
      </ul>
    </div>
    <div class="small-12 medium-6 columns">
      <h2>Add a new lottery</h2>
      <form method="post" action="/admin/lottery/create">
        <div class="row collapse">
          <div class="small-12 medium-10 columns">
            <input type="text" name="lottery_name" placeholder="Lottery name">
          </div>
          <div class="small-12 medium-2 columns">
            <input class="button postfix" type="submit" value="Save">
          </div>
        </div>
      </form>
    </div>
  </div>

{% endblock %}