{% extends 'layout.html' %}

{% block content %}
  
  <div class="row">
    <div class="small-12 columns">
      <div><a href="/admin/lottery/{{ lottery.id }}"><span class="fa fa-arrow-left"></span> {{ lottery.name }}</a></div>

      <hr>

      <button class="button large expand" id="trigger-draw" data-url="/admin/lottery/{{ lottery.id }}/draw">DRAW</button>

      <div id="draw-results">
        <h3>Results</h3>
        <div id="results"><ul></ul></div>
      </div>
    </div>
  </div>
  

{% endblock %}