<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<!--[if IE 10]><html class="ie10" lang="en" > <![endif]-->
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Lotto</title>
  <link rel="stylesheet" href="/stylesheets/style.css">

  <script src="/components/modernizr/modernizr.js"></script>

</head>
<body>
  {% block content %}{% endblock %}


  <script src="/components/jquery/dist/jquery.min.js"></script>
  <script src="/components/foundation/js/foundation.min.js"></script>

  <script src="/javascripts/global.js"></script>
</body>
</html>