<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<!--[if IE 10]><html class="ie10" lang="en" > <![endif]-->
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EasyLotto</title>
  <link rel="stylesheet" href="/components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="/components/modernizr/modernizr.js"></script>
</head>
<body>
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        &nbsp;<a href="/admin">EasyLotto</a>
      </li>
    </ul>

    {% block lottery_name %}{% endblock %}

    {#{% if !userAuth %}
    <section class="top-bar-section">
      <ul class="right">
        <li class="has-form">
          <form method="post" action="/login">
            <div class="row collapse">
              <div class="large-4 columns">
                <input type="text" name="email" placeholder="Email">
              </div>
              <div class="large-4 columns">
                <input type="text" name="password" placeholder="Password">
              </div>
              <div class="large-4 columns">
                <input type="submit" value="Login" class="button expand" />
              </div>
            </div>
          </form>
        </li>
      </ul>
    </section>
    {% endif %}#}
  </nav>

  <main role="main">
    {% block content %}{% endblock %}
  </main>

  <script src="/components/jquery/dist/jquery.min.js"></script>
  <script src="/components/foundation/js/foundation.min.js"></script>
  <script src="/components/jquery.hotkeys/jquery.hotkeys.js"></script>
  <script src="/javascripts/lottery.js"></script>
  <script src="/javascripts/global.js"></script>
</body>
</html>